<p>Poniżej znajduje się Twoje nowe hasło. Zmień je zaraz po zalogowaniu.</p>
<p style='font-weight:bold;font-size:30px;'>
  {{password}}
</p>

<p>Wiadomość została wygenerowana automatycznie. Prosimy na nią nie odpowiadać.</p>

<img width='200' height='60' src='{{appHost}}/images/logo.jpg' />